:root
{
    --light-shades : rgb(90, 173, 183);
    --light-accent: rgb(186, 227, 227);
    --main-color: rgb(166, 115,144);
    --dark-accent: rgb(40, 121, 171);
    --dark-shades: rgb(25, 40, 78);
    --titles : 'Cabin Sketch', sans-serif;
    --bodyFont : 'Lato', sans-serif;
}
body{
    margin: 0 !important;
}
.singleEpisode {
    border: solid 1.5px var(--brown);
    border-radius: 4px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    min-width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.no-spaces {
    padding: 0 !important;
    margin: 5px 0;
}
.button-container {
    display: flex;
    justify-content: end;
}
.comment-section {
    width: 90%;
    font-size: 14px;
}
.comment-section h3 {
    font-size: 18px;
}
.comment-section h4 {
    font-size: 14px;
}
.navigation {
    margin: 10px 0;
    min-width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.next {
    text-align: right;
}
aside{
    background-color: var(--light-accent);
    border-radius: 4px;
    padding: 1px 10px;
}
aside h4 {
    font-variant-caps: small-caps;
}
aside h5 {
    color: var(--light-shades);
}
aside p {
    color: var(--dark-shades);
}

.last-comment{
    padding-bottom: 5px;
    border-bottom: solid var(--main-color);
}
