:root
{
    --light-shades : rgb(90, 173, 183);
    --light-accent: rgb(186, 227, 227);
    --main-color: rgb(166, 115,144);
    --brown: rgb(92, 68, 84);
    --dark-accent: rgb(40, 121, 171);
    --darkgreyblue: rgb(64, 60, 83);
    --dark-shades: rgb(25, 40, 78);
    --titles : 'Cabin Sketch', sans-serif;
    --bodyFont : 'Lato', sans-serif;
}
body{
    margin: 0 !important;
}

.singleEpisode {
    border: solid 1.5px var(--brown);
    border-radius: 4px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 5px;
    min-width: 80%;
    margin: 0 15px ;
}
.comment-section {
    width: 90%;
    font-size: 14px;
}
.comment-section h3 {
    font-size: 18px;
}
.comment-section h4 {
    font-size: 14px;
}
.navigation {
    flex-wrap: wrap;
    justify-content: space-between;
}