:root
{
    --blue : rgb(62, 152, 153);
    --beige: rgb(205, 198, 192);
    --rose: rgb(166, 117,147);
    --brown: rgb(92, 68, 84);
    --bluegreen: rgb(30, 124, 149);
    --darkgreyblue: rgb(64, 60, 83);
    --darkbluegreen: rgb(1, 57, 71);
    --titles : 'Cabin Sketch', sans-serif;
    --bodyFont : 'Lato', sans-serif;
}


.episode-container {
    border: solid 1.5px var(--brown);
    border-radius: 4px;
    box-shadow: var(--brown) 2px 2px 5px ;
    margin: 5px;
    padding: 5px;
}